@using Domain.Entities
@using Application.Services.ClassServices
@rendermode InteractiveServer
@inject  IClassService ClassService
@inject NavigationManager navigation
@page "/Classes/Add"
<div>
    <EditForm Model="classe" OnValidSubmit="SaveClass">
        <h1>Add Classes</h1>

        <div class="form-group">
            <label class="form-label">Class Name:</label>
            <InputText class="form-control" @bind-Value="classe.classname" />
        </div>

        <div class="form-group">
            <label class="form-label">Department:</label>
            <InputText class="form-control" @bind-Value="classe.department" />
        </div>
        <div class="form-group">
            <label class="form-label">Teacher:</label>
            <InputText class="form-control" @bind-Value="classe.teacher" />
        </div>

         @* <div class="form-group">
            <label class="form-label">Faculty:</label>
            <InputText class="form-control" @bind-Value="classe.FacultyId" />
        </div>

        <div class="form-group">
            <label class="form-label">Education:</label>
            <InputText class="form-control" @bind-Value="classe.EducationLevelId" />
        </div> *@
        


        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
  </div>

@code{
    private Class classe = new ();
    private void SaveClass()
    {
    ClassService.AddClass(classe);
    navigation.NavigateTo( "/Classes");
    }
}


