@using Application.Services.StudentServices
@using Application.DTOs
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IStudentService StudentService









<MudDialog>
    <TitleContent>Add Student</TitleContent>
    <DialogContent>
        <EditForm Model="student" OnValidSubmit="SaveStudentAsync">
            <MudGrid>
                <MudItem xs="6">
                    <MudTextField @bind-Value="student.Name" Margin="Margin.Dense" Variant="Variant.Outlined"
                    Label="Name"  Placeholder="Fullname">
                    </MudTextField>
                </MudItem>
                <MudItem xs="6">
                    <MudSelect T="string" @bind-Value="student.Sex" Margin="Margin.Dense" Variant="Variant.Outlined"
                              Label="Sex" Placeholder="select sex">
                        <MudSelectItem Value="@("Male")">Male</MudSelectItem>
                        <MudSelectItem Value="@("Female")">Female</MudSelectItem>

                    </MudSelect>
                </MudItem>

                <MudItem xs="12">
                    <MudDatePicker Date="student.DateOfBirth"
                                   DateChanged="date => student.DateOfBirth = date ?? default" Margin="Margin.Dense"
                                   DateFormat="yyyy-MM-dd" Variant="Variant.Outlined" Label="Date Of Birth" Placeholder="dd/mm/yyyy">
                    </MudDatePicker>
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="student.Phone" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Phone"  Placeholder="078 2828 2828">
                    </MudTextField>
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="student.Email" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Email"  Placeholder="mellissa@gmail.com">
                    </MudTextField>
                </MudItem>
                
                
                <MudItem xs="12">
                    <MudTextField @bind-Value="student.Address" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Address"  Placeholder="Kigali-Rwanda">
                    </MudTextField>
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="student.RegNumber" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Reg Number"  Placeholder="FIS001546">
                    </MudTextField>
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="student.MotherName" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Mother's Name"  Placeholder="Jacqueline MUKANDUTIYE">
                    </MudTextField>
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="student.FatherName" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Father's Name"  Placeholder="Eric MURWANASHYAKA">
                    </MudTextField>
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="student.MotherPhone" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Mother's Phone"  Placeholder="+250 790 279 865">
                    </MudTextField>
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="student.FatherPhone" Margin="Margin.Dense" Variant="Variant.Outlined"
                                Label="Father's Phone"  Placeholder="+250 782 687 292">
                    </MudTextField>
                </MudItem>





                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true"
                               ButtonType="ButtonType.Submit">
                        SAVE
                    </MudButton>
                </MudItem>

            </MudGrid>
        </EditForm>

    </DialogContent>

</MudDialog>

  
@code {

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }
    private AddStudentDTO student = new();

    private async Task SaveStudentAsync()
    {
        await StudentService.AddStudentAsync(student);
        MudDialog.Close(DialogResult.Ok(true));
    }


}

















@*


<div>
    <EditForm Model="student" OnValidSubmit="SaveStudentAsync" >
        <h1>Add New Student</h1>
        <div class="form-group">
            <label for="name" >Name:</label>
            <InputText class="form-control" id="name" @bind-Value="student.Name" />
        </div>
        <div class="form-group">
            <label for="sex" >Sex:</label>
            <InputSelect id="sex" class="form-control" @bind-Value="student.Sex">
                <option value="">Select Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="dob" >Date Of Birth:</label>
            <InputDate id="dob" class="form-control" @bind-Value="student.DateOfBirth" />
        </div>
        <div class="form-group">
            <label for="phone" >Phone:</label>
            <InputText id="phone" class="form-control" @bind-Value="student.Phone" />
        </div>
        <div class="form-group">
            <label for="email" >Email:</label>
            <InputText id="email" class="form-control" @bind-Value="student.Email" />
        </div>

        <div class="form-group">
            <label for="regnumber">RegNumber</label>
            <InputText id="regnumber" class="form-control" @bind-Value="student.RegNumber" />
        </div>
        <div class="form-group">
            <label for="address" >Address:</label>
            <InputTextArea id="address" class="form-control" @bind-Value="student.Address" />
        </div>

        <div class="form-group">
            <label for="mothersname">Mother's Name</label>
            <InputText id="mamalove" class="form-control" @bind-Value="student.MotherName" />
        </div>

        <div class="form-group">
            <label for="fathersname">Father's Name</label>
            <InputText id="papalove" class="form-control" @bind-Value="student.FatherName" />
        </div>

        <div class="form-group">
            <label for="mothersname">Mother's Phone</label>
            <InputText id="iloveyouma" class="form-control" @bind-Value="student.MotherPhone" />
        </div>

        <div class="form-group">
            <label for="mothersname">Father's Phone</label>
            <InputText id="iloveyouma" class="form-control" @bind-Value="student.FatherPhone" />
        </div>

       
        <button type="submit" class="btn btn-primary mt-3">Add Student</button>
    </EditForm>
</div> *@
