@page "/students/delete/{id:int}"
@using Domain.Entities
@using Application.Services.StudentServices
@using Application.DTOs
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IStudentService StudentService
<div>
    <EditForm OnValidSubmit="RemoveStudent" Model="student">
        <label>Are You Sure Want to Delete? @student.Id</label>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a href="/students"><button class="btn btn-danger ml">Cancel</button></a>
    </EditForm>
</div>
@code{
    [Parameter]
    public int Id{get;set;}
    private GetStudentDTO? existingstudent;
    private DeleteStudentDTO student = new();
    protected override void OnParametersSet()
    {
        existingstudent= StudentService.GetStudentById(Id);
        if (existingstudent != null)
        {
            student.Id = existingstudent.Id;
            student.Status = existingstudent.Status;
        }
    }
    private void RemoveStudent()
    {
        StudentService.DeleteStudent(student);
        Navigation.NavigateTo("/students");
    }
}